---
import SingleLayout from '~layouts/SingleLayout.astro';
---

<SingleLayout title="404 - Страница не найдена" description="404 - Страница не найдена">
	<div class="prose prose-xl mx-auto flex flex-col justify-center py-10 text-center">
		<img src="/images/decoration/logo.png" class="mx-auto h-auto w-32" />
		<h1 class="!my-0">404</h1>

		<p>Страница не найдена. Возможно она была перемещена.</p>
<p>Попробуйте посмотреть на наших архивных сайтах - https://cyborgsandmages.wordpress.com/ или https://archivecyborgsandmages.wordpress.com/ </p>

	</div>
</SingleLayout>
