---
import type { CollectionEntry } from 'astro:content';
import { getEntryBySlug } from 'astro:content';

type Props = {
	slug: string;
};

const { slug } = Astro.props;

const entry: CollectionEntry<'singles'> | undefined = await getEntryBySlug('singles', slug);

let Content: any;

if (entry) {
	({ Content } = await entry.render());
}
---

<article class="prose">
	{entry ? <Content /> : <p>Page Not Found</p>}
</article>
